# Build outputs
Codigo/Loja/target/
Codigo/Servidor_Central/backend/target/
Codigo/Servidor_Central/frontend/dist/
Codigo/Servidor_Central/frontend/dist-ssr/
node_modules/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/*
.idea/
*.iml
*.suo
*.sw?